#navbar {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}


main {
  margin-left: 140px;
  width: calc(100% - 140px);
  padding: 30px;
}

section {
  padding: 10px 20px;
}

section+section {
  margin-top: 20px;
}

main header {
  font-size: 30pt;
  font-weight: 500;
  margin-bottom: 15px;
}

section p,
section code {
  margin-left: 20px;
}

section ul {
  margin-left: 30px;
}

section code {
  display: block;
  background-color: #eee;
  color: #555;
  margin: 10px 30px;
  border-radius: 0.5rem;
  padding: 20px 30px;
}